services:
  application:
    container_name: application
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./logs:/app/logs
    environment:
      - NODE_ENV=PROD
    network_mode: host
